body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.outer {
    display: grid;
    grid-template-columns: 10em 10em 10em;
    grid-template-rows: 10em 10em 10em;
    gap: 50px;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.inner.x_won {
    background-image: url(./img/blue_comic_x.png);
    background-size: contain;
}

.inner.winningBoard {
    background-size: contain;
    animation:spin 1s linear;
}

@keyframes spin{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}
}

.inner.o_won {
    background-image: url(./img/pink_comic_o.png);
    background-size: contain;
}

.inner.draw {
    background-image: url(./img/grey_comic_equals.png);
    background-size: contain;
}

.cell {
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.x_won > .cell,
.o_won > .cell,
.draw > .cell {
    opacity: 70%;
}

.closed > .cell {
    /* background: #919191; */
    background-image: radial-gradient(
        circle,
        rgb(248, 169, 231) 0%,
        rgb(178, 224, 245) 100%
      );

}

.cell:focus {
    outline: none;
}

.cell.lastClicked {
    border: 2px solid black;
    background: rgb(209, 250, 209);
}

.kbd-navigation .cell:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
